
#home-page {
    background-color: #C09D49;
}

#home-page #logo {
    width: 100%;
}

#home-page .home-buttons {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#home-page button {
    margin:5px;
   justify-content: center;
}