


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inactive-modal-overlay {
    pointer-events: none;
  }
  
  .full-modal-overlay {
    background-color: #222;
  }

  .modal {
    position: relative;
    margin: 10px;
    text-align: center;
    padding: 10px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border: 5px solid #222;
    line-height: 1.25;
  }

  .modal h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .modal p {
    margin: 15px 0px;
  }

  .modal .button-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal .speech {
    position: absolute;
    bottom:-22px;
    right: 120px;
    height: 25px;
    display: none;
  }

  .modal-overlay .dave {
    display: none;
    pointer-events: none;
    position: absolute;
    bottom:0px;
    right: 10px;
    height: 110px;
  }

  .full-modal-overlay .dave, .full-modal-overlay .speech {
    display: block;
  }
