.scores {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 50px;
    box-sizing: border-box;
    overflow: hidden;
}

.score-tabs {
    flex:1;
    display: flex;
    flex-direction: row;
    gap: 5px;
    box-sizing: border-box;
}

.score-tab {
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-direction: row;
    border-bottom: 5px solid #222;
    box-sizing: border-box;
    flex: 1 1;
    max-width:75px;
    padding: 0px 2px;
}
.score-tab.is-current {
    border-bottom: 2px solid #00000000;
    padding-bottom: 2px;
}

.score-tab h3 {
    margin: 0px 0px 0px 6px;
    font-size: 40px;
    font-weight: 700;
    flex: 1;
}


.score-tab .score {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    margin: 2px;
    flex-wrap:wrap-reverse;
    flex-direction: column;
    justify-content: flex-end;
    align-items:center;
}
.score-tab .score div {
    width: 80%;
    height: 5px;
    background-color: #000;
    margin: 2px;
    border-radius: 10px;
}

.wrapped-scores .score div {
    width: 30%;
}

.scores.condensed-scores {
    height: 70px;
}

.condensed-scores .score {
    margin:0px 0px 5px 0px;
    width:100%;
    height: 37px;
}
.condensed-scores .score div {
    height: 4px;
    margin: 2px 2px;
}

.condensed-scores .score-tab {
    flex-direction: column;
    align-items: center;
    height: 70px;
}
.condensed-scores .score-tab h3 {
    margin: 0px;
    font-size: 30px;
    font-weight: bold;
    flex: 1;
}

.faceoff .is-out {
    opacity: 0;
}